@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    color: #1f3251;
    background-color: #d5e1ef;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #ffffff;
    border-radius: 24px;
    width: 400px;
    height: 100%;
    margin: 50px auto;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(214,226,240,0.6); 
    box-shadow: 2px 2px 16px 8px rgba(214,226,240,0.5);
    padding: 10px 10px 30px;
}

.box img {
    width: 350px;
    border-radius: 16px;
    margin: 15px;
}

.box .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    padding: 10px 0;
}

.box h1 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.9rem;
    padding: 5px 10px;
}

.box p {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
    line-height: 1.3rem;
    padding: 10px 15px;
    color: #7b879d;
}

footer {
    width: 100%;
    background-color: #1f3251;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

footer p {
    font-weight: 300;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 400ms ease ;
}

footer a:hover {
    color: #7b879d;
    cursor: pointer;
}

/* MEDIAQUERY */

@media screen and (max-width: 375px) {

    .box {
        border-radius: 16px;
        width: 300px;
        height: 100%;
        margin: 50px auto;
    }

    .box img {
        width: 250px;
        border-radius: 8px;
        margin: 15px;
    }

    .box .content {
        width: 250px;
        padding: 10px 0;
    }

    .box h1 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6rem;
        padding: 5px 0 
    }

    .box p {
        padding: 10px 0;
    }

    footer a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 500;
        transition:none ;
    }
    
    footer a:hover {
        color: #ffffff;
        cursor: pointer;
        overflow: visible;
    }
}